.not-found-bg-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.dark-theme-not-found-bg-color {
  background-color: #f5f7fa;
}
.light-theme-not-found--bg-color {
  background-color: #121212;
}
.dark-theme-text-color {
  color: #64748b;
}
.light-theme-text-color {
  color: #f9f9e7;
}
.light-theme-heading-color {
  color: #fff;
}
.dark-theme-heading-color {
  color: #1e293b;
}
.page-not-found-div {
  width: 350px;
}
@media screen and (min-width: 768px) {
  .page-not-found-div {
    width: 400px;
  }
}
.not-found-img {
  width: 330px;
  margin-bottom: 20px;
}
.not-found-text {
  margin-bottom: 10px;
  font-size: 25px;
}
.not-found-description {
  margin-bottom: 20px;
  line-height: 25px;
}
.go-to-home-button {
  padding: 9px 18px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0284c7;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 6px;
}
