.home-container {
  background-color: #f5f7fa;
  background-size: cover;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .home-container {
    padding: 20px 7vw;
  }
}
.find-books-section {
  padding: 20px 25px;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .find-books-section {
    padding: 18px 0px;
  }
}
.heading {
  color: #1e293b;
  font-size: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 25px;
  }
}
.description {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 23px;
  color: #475569;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 17px;
    line-height: 25px;
    padding-bottom: 0px;
    margin-bottom: 8px;
  }
}

.find-books-button {
  padding: 9px 16px;
  margin-top: 10px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .find-books-button {
    display: none;
  }
}

.slider-div {
  background-color: #fff;
  padding: 10px 15px;
}

.slider-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .slider-info-section {
    padding: 5px 20px;
  }
}
.slider-head-text {
  font-size: 20px;
  color: #1e293b;
}
.lg-device-find-button {
  padding: 9px 16px;
  margin-top: 10px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .lg-device-find-button {
    display: none;
  }
}

.slider-main-section {
  width: 100%;
  max-width: 1100px;
  padding: 10px 20px;
  height: 200px;
  margin-bottom: 20px;
}

.slider-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 5px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .slider-item {
    width: 130px;
  }
}
.trending-book-cover-pic {
  width: 100%;
  max-width: 160px;
  height: 150px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .trending-book-cover-pic {
    height: 150px;
  }
}
.trending-book-title {
  font-size: 13px;
  margin-top: 15px;
  padding-bottom: 5px;
  color: #334155;
  font-weight: 600;
}
.trending-book-author {
  font-size: 12px;
  color: #475569;
  font-weight: 500;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.home-loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.home-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-failure-image {
  width: 230px;
  height: 120px;
}
.home-failure-info-text {
  margin: 13px 0px;
  font-size: 15px;
  color: #475569;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .home-failure-info-text {
    font-size: 16px;
  }
}

.try-again-button {
  padding: 8px 16px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
