.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
}

.dark-theme-home-bg-color {
  background-color: #f5f7fa;
}
.light-theme-home-bg-color {
  background-color: #121212;
}
.dark-theme-text-color {
  color: #64748b;
}
.light-theme-text-color {
  color: #f9f9e7;
}
.light-theme-heading-color {
  color: #fff;
}
.dark-theme-heading-color {
  color: #1e293b;
}
.home-bg-div {
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  .home-container {
    padding: 20px 7vw;
  }
}
.find-books-section {
  padding: 20px 25px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .find-books-section {
    padding: 18px 0px;
  }
}
.heading {
  font-size: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 25px;
  }
}
.description {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 23px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 0px;
    margin-bottom: 8px;
  }
}

.find-books-button {
  padding: 9px 16px;
  margin-top: 10px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .find-books-button {
    display: none;
  }
}

.slider-div {
  padding: 15px;
}
.slider-dark-theme-bg-color {
  background-color: #ffffff;
}
.slider-dark-light-bg-color {
  background-color: #3b3d3b;
}
@media screen and (min-width: 768px) {
  .slider-div {
    border-radius: 10px;
  }
}
.slider-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .slider-info-section {
    padding: 5px 20px;
  }
}
.slider-head-text {
  font-size: 20px;
}
.lg-device-find-button {
  padding: 9px 16px;
  margin-top: 10px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .lg-device-find-button {
    display: none;
  }
}

.slider-main-section {
  width: 100%;
  max-width: 1100px;
  padding: 10px 25px;
  height: 220px;
  margin-bottom: 30px;
}
.slider-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.slider-item {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 5px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .slider-item {
    width: 150px;
  }
}
.trending-book-cover-pic {
  width: 100%;
  max-width: 160px;
  height: 140px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .trending-book-cover-pic {
    height: 150px;
  }
}
.trending-book-title {
  font-size: 16px;
  margin-top: 16px;
  padding-bottom: 5px;
  font-weight: 600;
}
.trending-book-author {
  font-size: 13px;
  font-weight: 500;
}

.slick-prev:before,
.slick-next:before {
  color: #a8a4a4;
}

.home-loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.home-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-failure-image {
  width: 230px;
  height: 120px;
}
.home-failure-info-text {
  margin: 13px 0px;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .home-failure-info-text {
    font-size: 16px;
  }
}

.try-again-button {
  padding: 8px 16px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
