.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
}
.dark-theme-nav-bg-color {
  background-color: #fff;
}
.light-theme-nav-bg-color {
  background-color: #3b3d3b;
}
.dark-theme-shelf-bg-color {
  background-color: #f5f7fa;
}
.light-theme-shelf-bg-color {
  background-color: #121212;
}
.dark-theme-shelf-text-color {
  color: #64748b;
}
.light-theme-shelf-text-color {
  color: #f9f9e7;
}
.light-theme-shelf-heading-color {
  color: #fff;
}
.dark-theme-shelf-heading-color {
  color: #1e293b;
}
.shelf-bg-container {
  min-height: 90vh;
  background-size: cover;
}

.bookshelves-main-container {
  padding: 20px;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .bookshelves-main-container {
    display: flex;
    padding: 20px;
    margin-top: 50px;
  }
}

.sm-device-search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #cbd5e1;
  width: 70%;
  max-width: 350px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 10px;
}
.search-input {
  outline: none;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 3px 15px;
  font-size: 15px;
  color: #94a3b8;
}
.search-button {
  padding: 7px 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 6px;
  color: #94a3b8;
}
@media screen and (min-width: 768px) {
  .sm-device-search-div {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .book-status-buttons-sub-div {
    margin-top: 10px;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .book-status-buttons-sub-div {
    width: 20vw;
    position: fixed;
    height: 100vh;
    margin-top: px 10px 0px 0px;
    border-radius: 10px;
    padding: 10px 20px;
  }
}
.head-text {
  font-size: 18px;
  margin: 10px 0px;
}
.book-status-buttons-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .book-status-buttons-list {
    display: flex;
    flex-direction: column;
  }
}

.shelf-button {
  padding: 4px 15px;
  margin: 0px 16px 15px 0px;
  border-radius: 16px;
  border: 1px solid blue;
  background-color: transparent;
  border: 1px solid #0284c7;
  color: #0284c7;
  font-weight: bold;
  font-size: 15px;
}

.active-shelf-button {
  color: #fff;
  background-color: #0284c7;
  padding: 4px 15px;
  margin: 0px 16px 15px 0px;
  font-weight: 500;
  border-radius: 16px;
  border: 1px solid blue;
  margin: 0px 16px 15px 0px;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .shelf-button {
    border: none;
    font-size: 16px;
    padding: 0;
    text-align: start;
    margin: 5px 0px;
    color: #a8a4a4;
    font-weight: 500;
  }
  .active-shelf-button {
    border: none;
    padding: 0;
    text-align: start;
    font-size: 16px;
    margin: 5px 0px;
    color: #0284c7;
    font-weight: 600;
    background-color: transparent;
  }
}

.books-display-section {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .books-display-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 22vw;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .books-display-info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.lg-device-search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #cbd5e1;
  width: 50%;
  max-width: 300px;
  border-radius: 4px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .lg-device-search-div {
    display: none;
  }
}
.book-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  min-height: 60vh;
}

@media screen and (min-width: 768px) {
  .book-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
  }
}

.book-li-item {
  display: flex;
  margin: 0px 0px 15px 0px;
}

@media screen and (min-width: 768px) {
  .book-li-item {
    width: 270px;
  }
}

.book-cover-pic {
  width: 140px;
  height: 170px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .book-cover-pic {
    width: 140px;
    height: 160px;
  }
}

.book-title {
  font-size: 18px;
  margin-bottom: 8px;
  padding-top: 0px;
  margin-top: 0px;
}
.book-author {
  font-size: 15px;
  margin: 5px 0px;
  font-weight: 500;
}
.book-rating {
  font-size: 15px;
  margin: 5px 0px;
  font-weight: 500;
}
.star-icon {
  padding: 0px 5px 0px 3px;
  text-align: center;
  color: #fbbf24;
}
.book-status {
  font-size: 14px;
}
.book-status-text {
  color: #0284c7;
  font-size: 15px;
  font-weight: 500;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
}

@media screen and (min-width: 768px) {
  .loader-container {
    height: 60vh;
  }
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
@media screen and (min-width: 768px) {
  .failure-container {
    height: 60vh;
  }
}

.failure-image {
  height: 125px;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .failure-image {
    height: 145px;
    width: 240px;
  }
}
.failure-info-text {
  font-size: 15px;
  margin: 10px 0px;
}
@media screen and (min-width: 768px) {
  .failure-info-text {
    margin: 20px 0px;
  }
}

.no-book-container {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .no-book-container {
    width: 100%;
    height: 70vh;
    margin-top: 10px;
  }
}
.no-book-img {
  width: 260px;
  margin-bottom: 20px;
}

.no-book-text {
  font-size: 16px;
  font-weight: 500;
  color: #475569;
}
